<admin-page>
    
     <header class="header">
      <img width="50" id = "logo" src="newlog.png" alt="broken">
      <a class="navig" id="return"><i class="fa fa-home"></i></a>
      <a class="navig" id="viewUsers">View Users</a>
      <a class="navig" id="modifyUser">Modify User</a>
      <a class="navig" id="deleteUser">Delete User </a>
      <a class="navig" id="deleteScore">Change User Score </a>
      <a class="navig" id="deleteNotif">Delete User's Notification</a>
    
     </header>
    <br>
    <div>
    <table class="admintable" id="UserTable">
        <th>ID <i class="glyphicon glyphicon-sort"></i></th>
        <th>First Name <span class="glyphicon glyphicon-sort"></span></th>
        <th>User Name <span class="glyphicon glyphicon-sort"></span></th>
        <th>Scores <span class="glyphicon glyphicon-sort"></span></th>
        {{#each users}}
                <tr id="{{this.id}}">
                <td>
                {{this.id}}
                </td>
                <td name="firstname">
                {{this.fname}} 
                </td>
                <td name="user">
                {{this.username}} 
                </td>
                <td>{{this.gamesW}}</td>
                </tr>
             {{/each}}

    </table>
    </div>
    <div class="modal" id="users">
            <table id="table" class="modal-c" border="1">
                <th>ID</th>
                <th>Users</th>
                 {{#each users}}
                <tr id="{{this.id}}">
                <td>
                {{this.id}}
                </td>
                <td name="user">
                {{this.username}} 
                </td>
                </tr>
             {{/each}}
            </table>
        <div class="flexDiv">
        <button class="button1" id="closeTable">Close table</button>
        </div>
    </div>
    

</admin-page>

<script src="user-form.js"> </script>