<home-page>
<div class="flexcont">
    <div class = "mini">
        <img width="50" id = "logo" src="newlog.png" alt="broken">
        <div style="padding: 25px">
            <h2>Hi <div>{{sess.fname}}</div>, welcome back! 
            {{#if sess.admin}}
            <a  href="/admin"><i class="fa fa-users" aria-hidden="true"></i></a>
            {{/if}}
            </h2>
            <br>
            <h3>You are number {{index}} in the Leaderboard with a score of {{score.gamesW}}.</h3>
        </div>
        <table class="table ">
            <caption style="caption-side: top; text-align: center; color: black">Leaderboard</caption>
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>Games Won</th>
        </tr>
        {{#each users}}
        <tr>
            <td>{{i}}</td>
            <td>{{username}}</td>
            <td>{{gamesW}}</td>
            {{#if is}}
              <td><button id="{{username}}"><span class="icon"><i class="fa fa-smile-o" aria-hidden="true"></i></span></button></td>
            {{else}}
              <td></td>
            {{/if}}
        </tr>
        {{/each}}
        </table>

        <div style="padding: 25px">
        <h3>Our leaderboard shows the top users of our game.</h3>

        </div>
    </div>
    <div class ="mini" id="flexx">
      <div class="tophome">
        <div><button id = "editp" class="login100-form-btn topbutton">Change Password</button></div>
        <div><button id="logoutb" class="login100-form-btn topbutton" >Logout</button></div>
        <div class="container">
        <div class="row">
          <div class="box">
          <div class="notifications">
              <i class="fa fa-bell"></i>
              <span class="num">{{size}}</span>
              <ul class="notif">
                  {{#each notifs as |item|}}
                  <li class="icon">
                      <span class="icon"><i class="fa fa-user"></i></span>
                      <span class="text">{{item}} smiled at you. </span>
                  </li>
                  {{/each}}
              </ul>
          </div>
      </div>
        </div>
        </div>
    </div>
    <div style="padding-left: 250px; padding-top: 75px;">
        <h3>Select a Category to start with</h3>
    </div>
    <br>
  <div class="aspects">
      <div id="accordion">
  <button type="button" class="accordion " data-parent="#accordion" data-toggle="collapse" data-target="#demo">Class Demo</button>
  <div id="demo" class="collapse in">
      <ul>
        <li><a href="/animal">Easy - Animals (Mix and Match)</a></li>
        <li><a href="/dragndrop">Medium - Flags (Drag and Drop)</a></li>
        <li><a href="/slidePuzzle">Hard - Numbers (Slide)</a></li>
    </ul>
  </div>
<br>
  <button type="button" class="accordion collapsed" data-parent="#accordion" data-toggle="collapse" data-target="#demo1">Animals</button>
  <div id="demo1" class="collapse">
    <ul>
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
    <li><a href="#">Link 3</a></li>
    <li><a href="#">Link 4</a></li>
</ul>
  </div>
<br>
  <button type="button" class="accordion collapsed" data-parent="#accordion" data-toggle="collapse" data-target="#demo2">Flags</button>
  <div id="demo2" class="collapse">
    <ul>
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
    <li><a href="#">Link 3</a></li>
    <li><a href="#">Link 4</a></li>
</ul>
  </div>
<br>
  <button type="button" class="accordion  collapsed" data-parent="#accordion" data-toggle="collapse" data-target="#demo3">Numbers</button>
  <div id="demo3" class="collapse">
    <ul>
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
    <li><a href="#">Link 3</a></li>
    <li><a href="#">Link 4</a></li>
</ul>
  </div>
</div>
    </div>
    
</div>

<div class="modal modalm" id="first">
    <div class="modal-c" id="tips_1">
    <img style="display:inline; float: right"width="100" id = "logo" src="smiley.jpg" alt="broken">
    <h1 style="display:inline">Hey {{sess.fname}}!</h1>
    <br>
    <p >Afrah and Sylvia here!</p>
    <button id = "next1" type="button" class="popupbuttons btn btn-secondary btn-sm">Next</button>
</div>
</div>
<div class="modal modalm" id="tips_2">
    <div class= "modal-c">
        <span id="tips-close" class="close" >&times</span>
        <h1 style="display:inline">Remember to Enjoy the Game</h1>
        <p>Play well and you could land at the top of the leaderboard.</p>
       
        <h1>You're all set! Close this to enjoy the rest of the application.</h1>
        <input type="checkbox" id="donots" name="donots">
        <label for="donots">Do Not Show Again</label>
    </div>
</div>
</div>
<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <p class="modal-title">Success!</p>
        </div>
        <div class="modal-body">
          <p>Your password has been changed.</p>
        </div>
      </div>
    </div>
  </div>
	<div class="modal fade" id="myModal4" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <p class="modal-title">This user has too many notifications.</p>
        </div>
        <div class="modal-body">
			<p>Please try again at another time!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <p class="modal-title">Your notification has been sent!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="myModal5" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <p class="modal-title">Your already sent this user a notification.</p>
        </div>
      </div>
    </div>
  </div>
<div class="modalm" id="edit_p">
        <div class="modalm-c">
            <div class="limiter">
		<div class="container-login100" >
			<div class="wrap-login100 p-t-30 p-b-50">
				<span class="close" id="sign-in-close" >&times</span>
				<span class="login100-form-title p-b-41">
					Change Password
				</span>
				<div class="login100-form validate-form p-b-33 p-t-5">

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
						<input id="opass"class="input100" type="password" name="pass" placeholder="Old Password">
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
					</div>
					
					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input id="npass"class="input100" type="password" name="pass" placeholder="New Password">
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
					</div>

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
						<input id="npass1"class="input100" type="password" name="pass" placeholder="Confirm New Password">
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
					</div>
                    <div id="errorpass"></div>
					<div class="container-login100-form-btn m-t-32">
						<button id="editp_" class="login100-form-btn">
							Save Changes
						</button>
					</div>

				</div>
			</div>
		</div>
	</div>
        </div>
    </div>
  
</home-page>

<script src="user-form.js"> </script>